.content {
    display: flex;
    height: 100%;
    padding: 0 0 0 200px;
    background-image: url(./bg.png);
    background-size: cover;
}

@media only screen   
and (max-width : 1440px)  {
    .content {
        padding: 0;
    }
}


.container {
    height: calc(100% - 90px);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    max-width: stretch;
}

.button {
    margin: 0 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid gray;
    transform: translateX(0) rotateZ(0deg);
    &:hover {
        transform: translateY(-20px) rotateZ(-5deg);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.5s;
    }
}

.images {
    display: flex;
    justify-content: center;
}

.delete {
    position: relative;
    top: 16px;
    right: 15px
}

footer svg,
.button svg,
.delete svg {
    filter: drop-shadow(3px 3px 3px #999);
    transition: 0.3s;
    transform: rotate(-0.2deg)
}

footer svg:hover,
.button svg:hover,
.delete svg:hover {
    filter: drop-shadow(4px 4px 4px #999);
    transform: rotate(-0.6deg);
    cursor: pointer
}

.delete svg {
    filter: drop-shadow(1px 1px 1px #999)
}

footer svg {
    filter: drop-shadow(1.5px 1px 1px #999)
}

footer svg:hover,
.delete svg:hover {
    filter: drop-shadow(1.5px 1.5px 1.5px)
}

input[type=file] {
    visibility: hidden;
    position: absolute
}

.guessed-image {
    max-height: 360px;
    max-width: 360px;
    padding: 10px;
    object-fit: cover;
}


/* Loading */

.loading-wrapper,
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#notification-wrapper {
    position: absolute;
}

footer .small-button {
    border-radius: 50%;
    border: 1px solid #fff;
    width: 3.2em;
    height: 3.2em;
    padding: 5px;
    transition: .3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

footer .small-button:hover {
    background: #767676;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
}

footer .small-button.github {
    background: #6e5494;
}

footer .small-button.medium {
    background: #00ab6c;
    font-size: 0.85em;
    padding: 0.65em;
}

@keyframes pulse-colors {
    from {
        background: #c9c3e6;
        border: 3px solid #a29ccc;
    }
    to {
        background: #6762a6;
        border: 3px solid #c9c3e6;
    }
}


/* Animations */

.fadein {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 360px;
    margin-right: 25px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid gray;
}

.predicted-class {
    padding-top: 3px;
    text-align: center;
}

.camera-container {
    padding-top: 80px;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.images-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20 220px 20px 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    /* Let's get this party started */
    &::-webkit-scrollbar {
        width: 12px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(70, 65, 65, 0.8); 
        -webkit-box-shadow: inset 0 0 6px rgba(56, 51, 51, 0.5); 
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(59, 56, 56, 0.4); 
    }


}

@media only screen   
and (max-width : 1440px)  {
    .images-container {
        padding: 20px;
    }
}


